<div id="title">
<img src="../assets/burgersssss.jpg"/>
<h1 class="titl">Boujee Burger</h1>
</div>

<div class="form-container">
  <form class="create-form">
    <div class="form-group">
      <label class="input-burger" for="ca">Burger Name:</label>
      <input type="text" id="ca" name="name">
    </div>
      <button id="button" type="submit">Add Da Burger</button>
  </form>
</div>
<br>
<div class="container">
  <div class="left">
    <h2>Betta Eat</h2>
    <ul>
      {{#each burgers}}
        {{#unless devoured}} 
        <li class="new-burgers">
          {{burger_name}} {{@devoured}} {{false}}  
          <button class="devour-me" data-id="{{id}}" data-newburger="{{devoured}}">
            DEVOUR ME!
          </button>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="right">
    <h2>Devoured</h2>
    <ul>    
      {{#each burgers}}
        {{#if devoured}}
          <li class="eaten">
          {{burger_name }} {{@devoured}} {{true}}
            <button class="clear" data-id="{{this.id}}">Remove da burger</button>
          </li>    
        {{/if}}
      {{/each}}
    </ul>
  </div>
  </div>